body {
    font-family: Arial;
    
    font-size: 15px;

    background: url(https://images.pexels.com/photos/1903702/pexels-photo-1903702.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260) no-repeat;
    background-size: cover;
}

.title {
    color: #131313;
    font-family: Impact;
    font-size: 72px;
    text-align: center;

    margin-top: 72px;
    margin-bottom: 72px;
}

/* Navigation */

.nav {
    list-style: none;
    margin: 0;
    /*padding: 15px 10px;*/
    padding: 0;
    background-color: #000;
}

.nav li {
    margin-left: 20px;
    display: inline-block;
}

.nav a {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    font-weight: bold;

    padding: 15px;

    color: #fff;
}

.nav a:hover {
    color: beige;
}

/* Post */

.post {
    margin-top: 0;
    width: 50%;
    height: 100%;
    padding: 0px 0px 15px 0px;
    margin-right: auto;
    margin-left: auto;

    background-color: rgba(0, 0, 0, 0.8);
    /*border: 1px solid #000;*/
}

.post-title {
    color: #fff;
    font-family: Impact;
    font-size: 72px;
    text-align: center;

    margin-top: 72px;
    margin-bottom: 72px;
}

.post-text {
    margin-left: 30px;
    margin-right: 30px;
}

.post-text p {
    color: rgb(189, 189, 189);
    margin: 0 0 10px 0;
}

/* Form */

.form {
    width: 500px;
    padding: 20px;
    margin: auto;
    
    background-color: #fff;
}

.form-group {
  margin-bottom: 15px;  
}

.form-input {
    padding: 5px;
    font-size: 15px;
    border: 1px solid #000;
    
    display: block;
    
    font-family: Arialm, sans-serif;
}

.form-textarea {
    width: 170px;
    height: 150px;
    padding: 5px;
    font-size: 15px;
    
    border: 1px solid #131313;
    font-family: Arialm, sans-serif;
}

















